{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<div ng-app='mwlapp'>
<main role="main" class="container" ng-controller="MwlListController as ctrl" ng-cloak>
  <div ng-if="show_list">
  <h2> Modality Worklist </h2>

  <br>
    <div class="row">
    <div class="col">
    <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
      <button type="button" class="btn btn-secondary" ng-class="{active: selectedStatus == 'SCHEDULED'}" ng-click="selectScheduled()"><i class="fas fa-clock"></i></button>
      <button type="button" class="btn btn-secondary" ng-class="{active: selectedStatus == 'IN PROGRESS'}" ng-click="selectInProgress()"><i class="fas fa-spinner"></i></button>
      <button type="button" class="btn btn-secondary" ng-class="{active: selectedStatus == 'COMPLETED'}" ng-click="selectCompleted()"><i class="fas fa-check"></i></button>
    </div>
  </div>
    <div class="col">
      <div class="btn-group">
        <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          MODALITY : {[{selectedModality}]}
        </button>
        <div class="dropdown-menu">
          <a class="dropdown-item" ng-repeat="mod in modalities" href="#" ng-click="selectModality(mod)">{[{mod}]}</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#" ng-click="selectModality('ALL')">ALL</a>
        </div>
      </div>
    </div>

  <div class="col">
  <div class="btn-toolbar" role="toolbar" aria-label="Basic example">
    <button type="button" class="btn btn-secondary" ng-class="{active: selectedDate == 'YESTERDAY'}" ng-click="selectYesterday()">YESTERDAY</button>
    <button type="button" class="btn btn-secondary" ng-class="{active: selectedDate == 'TODAY'}" ng-click="selectToday()">TODAY</button>
    <button type="button" class="btn btn-secondary" ng-class="{active: selectedDate == 'TOMORROW'}" ng-click="selectTomorrow()">TOMORROW</button>
    <button type="button" class="btn btn-secondary" ng-class="{active: selectedDate == 'DATE'}" ng-click="selectADate()" >DATE</button>
  </div>
</div>
  <div class="col" ng-if="selectedDate == 'DATE'">
    <p class="input-group">
         <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="fltr.selectedFilterDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
         <span class="input-group-btn">
           <button type="button" class="btn btn-default" ng-click="open1()"><i class="fas fa-calendar"></i></button>
         </span>
    </p>
  </div>
  <div class="col">
    <div class="input-group mb-3">
      <input type="text" class="form-control" ng-model="fltr.searchString" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" ng-click="loadMwlItems()"><span><i class="fas fa-search"></i></span></button>
      </div>
    </div>
  </div>
</div>
  <br>
  <div class="row">
    <a class="btn btn-success btn-lg" href="#" ng-click="addwl()"><i class="fa fa-plus"></i></a>
  </div>
      <br>
    <div class="row">
  <table class="table" >
    <thead>
<tr>
  <th scope="col">#</th>
  <th scope="col">Patient Name</th>
  <th scope="col">Patient ID</th>
  <th scope="col">Age</th>
  <th scope="col">Gender</th>
  <th scope="col">Scheduled Date</th>
  <th scope="col">Modality</th>
  <th scope="col">Status</th>
  <th scope="col">Procedure</th>
  <th scope="col">Actions</th>
</tr>
</thead>

<tbody >
  <tr ng-if="loading">
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td >
      <div class="loader" ng-if="loading">
      </div>
    </td>
  </tr>
  <tr ng-if="!loading && mwlItems.length === 0">
    <td></td>
    <td></td>
    <td></td>
    <td colspan="6">
      <p class="text-danger"> No results for the selected filter criteria. Please change your filters and try again! </p>
    </td>
  </tr>
<tr  ng-if="!loading" ng-repeat="item in mwlItems" >
  <th scope="row">{[{$index + 1}]}</th>
  <td>{[{item.patient.last_name}]} {[{item.patient.first_name}]}</td>
  <td>{[{item.patient.patient_id}]}</td>
  <td>{[{item.patient.age}]}</td>
  <td>{[{item.patient.gender}]}</td>
  <td>{[{item.sps.start_date}]}</td>
  <td>{[{item.sps.modality}]}</td>
  <td>{[{item.sps.status}]}</td>
  <td>{[{item.proc_info.requested_proc_desc}]}</td>
  <td><span><a class="btn btn-primary" href="#" ng-click="editwl($index)"><i class="fas fa-edit"></i></a>  <a href="#" class="btn btn-danger" ng-click="delete_wl($index)"><i class="fas fa-trash-alt"></i></a></td>
</tr>
</tbody>

</table>
  </div>
  <br>
  <div class="row">
    <nav aria-label="Page navigation example">
<ul class="pagination justify-content-center">
<li class="page-item disabled">
  <a class="page-link" href="#" tabindex="-1">Previous</a>
</li>
<li class="page-item active"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#">3</a></li>
<li class="page-item">
  <a class="page-link" href="#">Next</a>
</li>
</ul>
</nav>
  </div>
</div>
<div ng-if="show_edit">
    <h2> {[{title}]} Modality Worklist </h2>
    <p> You can edit the schedule and Image Service Request details. Editing Patient details will only effect the changes for this MWL item. </p>
    <form class="needs-validation" name="ctrl.mwlForm" novalidate>
      <div id="accordion">
        <div class="card">
          <div class="card-header" id="patient">
            <div class="row">
              <div class="col">
                <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#patientForm" aria-expanded="true" aria-controls="patientForm">
                  Patient
                </button>
              </div>
              <div class="col-align-self-end" style="margin-right:20px;">
                <i color="green" class="green fas fa-check fa-lg" style="color:green;"> </i>
              </div>
            </div>
          </div>
          <div id="patientForm" class="collapse show" aria-labelledby="patient" data-parent="#accordion">
            <div class="card-body inner-box">
              <div class="row">
                <div class="col">
                  <label for="first_name"><h6><i class="fa fa-user"></i> First Name </h6></label>
                  <input name="first_name" type="text" class="form-control" ng-model="wl_to_edit.patient.first_name" placeholder="First name" required>
                  <span ng-show="ctrl.mwlForm.first_name.$invalid && save_requested" style="color:red;">
                      Please select a valid Last Name
                  </span>
                </div>
                <div class="col">
                  <label for="last_name"><h6><i class="fa fa-user"></i> Last Name</h6></label>
                  <input name="last_name" type="text" class="form-control" ng-model="wl_to_edit.patient.last_name" placeholder="Last name" required>
                  <span ng-show="ctrl.mwlForm.last_name.$invalid && save_requested" style="color:red;">
                      Please select a valid Last Name
                  </span>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="patient_id"><h6><i class="fa fa-id-badge"></i> Patient Id</h6></label>
                  <input name="patient_id" type="text" class="form-control" ng-model="wl_to_edit.patient.patient_id" placeholder="Patient Id" required>
                  <span ng-show="ctrl.mwlForm.patient_id.$invalid && save_requested" style="color:red;">
                      Please select a valid patient Id
                  </span>
                </div>

                <div class="col">
                  <label for="gender"><h6><i class="fa fa-male"></i><i class="fa fa-female"></i> Gender</h6></label>
                  <br>
                  <label class="radio-inline"><input type="radio" name="gender" value="Male" ng-model="wl_to_edit.patient.gender"><h6>Male</h6></label>
                  <label class="radio-inline"><input type="radio" name="gender" value="Female" ng-model="wl_to_edit.patient.gender"><h6>Female</h6></label>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="dob"><h6><i class="fa fa-calendar-alt"></i> Date of Birth</h6></label>
                  <p class="input-group">
                    <input name="dob" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="wl_to_edit.patient.dob" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" required/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open1()"><i class="fas fa-calendar"></i></button>
                    </span>
                    <span ng-show="ctrl.mwlForm.dob.$invalid && save_requested" style="color:red;">
                        Please select a valid date of birth
                    </span>
                  </p>
                </div>
                <div class="col">
                  <label for="weight"><h6><i class="fa fa-weight"></i> Weight</h6></label>
                  <input id="weight" type="text" class="form-control" ng-model="wl_to_edit.patient.weight" placeholder="Weight">
                </div>
                <div class="col">
                  <label for="size"><h6><i class="fa fa-tape"></i> Size</h6></label>
                  <input id="size" type="text" class="form-control" ng-model="wl_to_edit.patient.patient_size" placeholder="Weight">
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#patientModal">{[{action}]} Patient</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="isr">
            <div class="row">
              <div class="col">
                <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#isrForm" aria-expanded="false" aria-controls="isrForm">
                  Imaging Service Request
                </button>
              </div>
              <div class="col-align-self-end" style="margin-right:20px;">
                <i color="green" class="green fas fa-check fa-lg" style="color:green;"> </i>
              </div>
            </div>
          </div>
          <div id="isrForm" class="collapse" aria-labelledby="isr" data-parent="#accordion">
            <div class="card-body inner-box" >
              <div class="row">
              <div class="col">
                  <label for="first_name"><h6><i class="fa fa-sort-numeric-up"></i> Accession Number</h6></label>
                  <input name="accession_number" type="text" class="form-control" ng-model="wl_to_edit.isr.accession_number" placeholder="Accession Number">
                  <span ng-show="ctrl.mwlForm.accession_number.$invalid && save_requested" style="color:red;">
                      Please select a valid Accession Number
                  </span>
              </div>
              <div class="col">
                <label for="first_name"><h6><i class="fa fa-user-md"></i> Requesting Physician</h6></label>
                <input name="requesting_physician" type="text" class="form-control" ng-model="wl_to_edit.isr.requesting_physician" placeholder="Requesting Physician">
                <span ng-show="ctrl.mwlForm.requesting_physician.$invalid && save_requested" style="color:red;">
                    Please select a valid Requesting Physician
                </span>
              </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                   <label for="first_name"><h6><i class="fa fa-user-md"></i> Referring Pyhsician</h6></label>
                   <input name="referring_physician" type="text" class="form-control" ng-model="wl_to_edit.isr.referring_physician" placeholder="Referring Pyhsician">
                   <span ng-show="ctrl.mwlForm.referring_physician.$invalid && save_requested" style="color:red;">
                       Please select a valid Referring Physician
                   </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="schedule">
            <div class="row">
              <div class="col">
                <button class="btn btn-outline-dark" data-toggle="collapse" data-target="#scheduleForm" aria-expanded="false" aria-controls="scheduleForm">
                  Schedule
                </button>
              </div>
              <div class="col-align-self-end" style="margin-right:20px;">
                <i color="green" class="green fas fa-check fa-lg" style="color:green;"> </i>
              </div>
            </div>
          </div>
          <div id="scheduleForm" class="collapse" aria-labelledby="schedule" data-parent="#accordion">
            <div class="card-body inner-box">
              <div class="row">
                <div class="col-sm-4">
                  <label for="first_name"><h6><i class="fa fa-clock"></i> Scheduled Date</h6></label>
                  <p class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="wl_to_edit.sps.start_date" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="open2()"><i class="fas fa-calendar"></i></button>
                    </span>
                  </p>
                </div>
                <div class="col">
                  <div uib-timepicker ng-model="mytime" hour-step="1" minute-step="1" show-meridian="false"></div>
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label for="first_name"><h6><i class="fa fa-hospital" ></i> Station Name</h6></label>
                  <input name="stationname" type="text" class="form-control" ng-model="wl_to_edit.sps.station_name" placeholder="Station Name" required>
                  <span ng-show="ctrl.mwlForm.stationname.$invalid && save_requested" style="color:red;">
                      Please select a valid Station Name
                  </span>
                </div>
                <div class="col">
                  <label for="first_name"><h6><i class="fa fa-heading" ></i> Station AE Title</h6></label>
                  <input name="stationaet" type="text" class="form-control" ng-model="wl_to_edit.sps.station_aet" placeholder="Station AE Title" required>
                  <span ng-show="ctrl.mwlForm.stationaet.$invalid && save_requested" style="color:red;">
                      Please select a valid AE Title
                  </span>
                </div>
                <div class="col">
                  <label for="first_name"><h6><i class="fa fa-x-ray" ></i> Modality</h6></label>
                  <input name="modality" type="text" class="form-control" ng-model="wl_to_edit.sps.modality" placeholder="Modality" required>
                  <span ng-show="ctrl.mwlForm.modality.$invalid && save_requested" style="color:red;">
                      Please select a valid modality
                  </span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#stationModal">{[{action}]} Station</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header" id="procedure">
            <div class="row">
              <div class="col">
                <button href="#" class="btn btn-outline-dark" data-toggle="collapse" data-target="#procedureForm" aria-expanded="false" aria-controls="procedureForm">
                  Procedure
                </button>
              </div>
              <div class="col-align-self-end" style="margin-right:20px;">
                <i color="green" class="green fas fa-check fa-lg" style="color:green;"> </i>
              </div>
            </div>
          </div>
          <div id="procedureForm" class="collapse" aria-labelledby="schedule" data-parent="#accordion">
            <div class="card-body inner-box">
              <div class="row">
                <div class="col-sm-6">
                  <label for="first_name"><h6><i class="fa fa-procedures"></i> Requested Procedure</h6></label>
                  <input name="procedure" type="text" class="form-control" ng-model="wl_to_edit.proc_info.requested_proc_desc" placeholder="Procudure" required>
                  <span ng-show="ctrl.mwlForm.procedure.$invalid && save_requested" style="color:red;">
                      Please select a valid procedure
                  </span>
                </div>
              </div>
              <br>
              <div class="row">
                <div class="col">
                  <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#procedureModal">{[{action}]} Procedure</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <br>
      <div class="row">
        <div class="col">
          <a href="#" class="btn btn-success" ng-click="save()">Save</a>
          <a href="#" class="btn btn-danger" ng-click="cancel()">Cancel</a>
        </div>
      </div>
    </form>
</div>
<div class="modal fade" id="procedureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="procedureModalTitle">Select Procedure</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <input type="text" class="form-control" ng-model="procSearch" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><span><i class="fas fa-search"></i></span></button>
              </div>
            </div>
          </div>
        </div>

        <table class="table">
          <thead>
            <tr>
              <th scope="col"> # </th>
              <th scope="col"> Procedure ID </th>
              <th scope="col"> Procedure Description </th>
              <th scope="col"> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="procedure in procedures">
              <th scope="row">{[{$index + 1}]} </th>
              <td> {[{procedure.procedure_id}]} </td>
              <td> {[{procedure.procedure_description}]} </td>
              <td> <a href="#" ng-click="procedureSelected($index)"><i class="fas fa-hand-pointer"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="stationModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="stationModalTitle">Select Station</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div class="input-group">
              <input type="text"  class="form-control" ng-model="stationSearch" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
              <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button"><span><i class="fas fa-search"></i></span></button>
              </div>
            </div>
          </div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col"> # </th>
              <th scope="col"> Station Name </th>
              <th scope="col"> Station AE Title </th>
              <th scope="col"> Modality </th>
              <th scope="col"> Action </th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="station in stations">
              <th scope="row">{[{$index + 1}]} </th>
              <td> {[{station.name}]} </td>
              <td> {[{station.AE_title}]} </td>
              <td> {[{station.modality}]} </td>
              <td> <a href="#" ng-click="stationSelected($index)"><i class="fas fa-hand-pointer"></i></a></td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
 </div>
<div class="modal fade" id="patientModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="patientModalTitle">Select Patient</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
              <div class="input-group">
                <input type="text"  class="form-control" ng-model="patientSearch" placeholder="Search..." aria-label="Recipient's username" aria-describedby="basic-addon2">
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary" type="button"><span><i class="fas fa-search"></i></span></button>
                </div>
              </div>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr>
                <th scope="col"> # </th>
                <th scope="col"> Patient Name </th>
                <th scope="col"> Patient Id </th>
                <th scope="col"> Gender </th>
                <th scope="col"> Age </th>
                <th scope="col"> Action </th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="patient in patients">
                <th scope="row">{[{$index + 1}]} </th>
                <td> {[{patient.last_name}]} {[{patient.first_name}]} </td>
                <td> {[{patient.patient_id}]} </td>
                <td> {[{patient.gender}]} </td>
                <td> {[{patient.birth_date}]} </td>
                <td> <a href="#" ng-click="patientSelected($index)"><i class="fas fa-hand-pointer"></i></a></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
</main>
</div>
