{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<main role="main" class="container">
<form id="form1" enctype="multipart/form-data" method="post" action="{{=URL('addprocedure')}}">
    <div class="p-3 mb-2 bg-light text-dark">
        <h4> Add new Procedure</h4>
        <div class="dropdown-divider"></div>
        <div class="row">
          	<div class="col">
            		<label for="procedure_id"><h6><i class="fa fa-id-badge"></i> Procedure Id </h6></label>
            		<input type="text" class="form-control" id="procedure_id" name="procedure_id" required placeholder="Procedure Id">
          	</div>
          	<div  class="col">
          		<label for="procedure_desc"><h6><i class="fa fa-font"></i> Procedure Description </h6></label>
            		<input type="text" class="form-control" id="procedure_desc" required placeholder="Procedure Description" name="procedure_desc">
          	</div>
        </div>
        <br>
        <div class="row">
            <div class="col">
            		<label for="procedure_code"><h6><i class="fa fa-barcode"></i> Procedure Code </h6></label>
            			<input type="text" class="form-control" id="procedure_code" name="procedure_code" required placeholder="Procedure Code">
            </div>
            <div class="col">
            		<label for="procedure_code_meaning"><h6><i class="fa fa-book"></i> Procedure Code Meaning </h6></label>
            			<input type="text" class="form-control" id="procedure_code_meaning" name="procedure_code_meaning" required placeholder="Procedure Code Meaning">
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
            		<label for="procedure_code_scheme_designator"><h6><i class="fa fa-certificate"></i> Procedure Code Scheme Designator </h6></label>
            			<input type="text" class="form-control" id="procedure_code_scheme_designator" name="procedure_code_scheme_designator" required placeholder="Procedure Code Scheme Designator" required>
            </div>
            <div class="col">
            	<label for="modality"><h6><i class="fa fa-x-ray"></i> Modality </h6></label>
            		<select class="form-control" id="modality" name="modality" required placeholder="Modality">
            			<option disabled selected value> -- select an option -- </option>
            			{{for modality in modalities:}}
            				<option>{{=modality}}</option>
            			{{pass}}
            		</select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
            		<label for="protocol_code"><h6><i class="fa fa-barcode"></i> Protocol Code </h6></label>
            			<input type="text" class="form-control" id="protocol_code" name="protocol_code" required placeholder="Protocol Code">
            </div>
            <div class="col">
            		<label for="protocol_code_meaning"><h6><i class="fa fa-book"></i> Protocol Code Meaning</h6></label>
            			<input type="text" class="form-control" id="protocol_code_meaning" name="protocol_code_meaning" required placeholder="Protocol Code Meaning">
            </div>
            <div class="col">
            		<label for="protocol_code_scheme_designator"><h6><i class="fa fa-certificate"></i> Protocol Code Scheme Designator</h6></label>
            			<input type="text" class="form-control" id="protocol_code_scheme_designator" name="protocol_code_scheme_designator" required placeholder="Protocol Code Scheme Designator" required>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
        		<input class="btn btn-primary" type="submit" value="Add Procedure"/>
        </div>
    </div>
</form>
</main>
