{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<div>
    <h3>
        List of procedures &nbsp; &nbsp;
        <a href="{{=URL('addprocedure')}}" class="btn btn-success btn-md">
          <span class="fa fa-plus"></span>
        </a>
    </h3>
</div>
<form action="{{=URL('listprocedure')}}">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by procedure id" id="txtSearch" name="search_str"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span><i class="fas fa-search"></i></span></button>
            </div>
        </div>
      </div>
</form>
<br>
<div class="well">
    <table class='table'>
        <tr>
            <th>Procedure Id</th>
            <th>Procedure Description</th>
            <th>Procedure Code</th>
            <th>Procedure Code Meaning</th>
            <th>Procedure Code Scheme Designator</th>
            <th>Modality</th>
            <th>Protocol Code</th>
            <th>Protocol Code Meaning</th>
            <th>Protocol Code Scheme Designator</th>
            <th>Options</th>
        </tr>
        {{for procedure in rows:}}
            <tr>
                <td>{{=procedure.procedure_id}}</td>
                <td>{{=procedure.procedure_description}}</td>
                <td>{{=procedure.procedure_code}}</td>
                <td>{{=procedure.procedure_code_meaning}}</td>
                <td>{{=procedure.procedure_code_scheme_designator}}</td>
                <td>{{=procedure.modality}}</td>
                <td>{{=procedure.protocol_code}}</td>
                <td>{{=procedure.protocol_code_meaning}}</td>
                <td>{{=procedure.protocol_code_scheme_designator}}</td>
                <td>
                    <span>
                        <a href="{{=URL('editprocedure',vars=({'id':procedure.id}))}}"><span class="fas fa-edit"></span></a>
                        <a href="{{=URL('deleteprocedure',vars=({'id':procedure.id}))}}"><span class="fas fa-trash"></span></a>
                    </span>
                </td>
            </tr>
        {{pass}}
    </table>
</div>

<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {{if page>1:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page-1))}}">Previous</a>
                </li>
            {{pass}}

            {{for i in range(1,total_entries+1):}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(i))}}">{{=i}}</a>
                </li>
            {{pass}}

            {{if len(rows)>=10:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page+1))}}">Next</a>
                </li>
            {{pass}}

        </ul>
    </nav>
</div>