{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<form id="form1" enctype="multipart/form-data" method="post" action="{{=URL('addstation')}}">
    <div class="p-3 mb-2 bg-light text-dark">
        <h4> Add new Station</h4>
        <div class="dropdown-divider"></div>
        <div class="row">
            <div class="col">
  		          <label for="first_name"><h6><i class="fa fa-hospital" ></i> Station Name</h6></label>
  		          <input type="text" class="form-control" id="name" name="name" required placeholder="Station Name">
            </div>
            <div class="col">
                <label for="AE_title"><h6><i class="fa fa-heading" ></i> AE Title</h6></label>
                <input type="text" class="form-control" id="AE_title" name="AE_title" required placeholder="AE Title">
            </div>
            <div class="col">
                <label for="modality"><h6><i class="fa fa-x-ray" ></i> Modality</h6></label>
                <select class="form-control" id="modality" name="modality" required placeholder="Modality">
                    <option disabled selected value> -- select an option -- </option>
                    {{for modality in modalities:}}
                        <option>{{=modality}}</option>
                    {{pass}}
                </select>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Add Station"/>
            </div>
        </div>
    </div>
</form>