{{extend 'layout.html'}}

<h2>Edit Station Details</h2>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>

<form id="form1" enctype="multipart/form-data" method="post" action="{{=URL('editstation',args=(id))}}">
	<div class="form-group col-md-4">
  		<label for="name">Station Name:</label>
  		<input type="text" class="form-control" id="name" name="name" required placeholder="Station Name" value="{{=station.name}}">
	</div>
	<div  class="form-group col-md-4">
		<label for="AE_title">AE Title:</label>
  		<input type="text" class="form-control" id="AE_title" required placeholder="AE Title"  name="AE_title" value="{{=station.AE_title}}">
	</div>
	<div class="form-group col-md-3">
		<b><label for="modality">Modality:</label></b>
  		<select class="form-control" id="modality" name="modality" required placeholder="Modality" value="{{=station.modality}}">
  			<option disabled selected value> -- select an option -- </option>
  			{{for modality in modalities:}}
  				<option>{{=modality}}</option>
  			{{pass}}
  		</select>
	</div>
	<div class="form-group col-md-6">
  		<input class="btn btn-primary" type="submit" value="Submit"/>
  	</div>
</form>