{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<main role="main" class="container">
<div>
    <h3>
        List of Stations&nbsp; &nbsp;
    </h3>
</div>
<br>
<div class="row">
  <div class="col align-self-start">
    <a href="{{=URL('addstation')}}" class="btn btn-success btn-md">
      <span class="fa fa-plus"></span>
    </a>
  </div>

<form class="col align-self-start" action="{{=URL('liststation')}}">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by station name/modality/AE title" id="txtSearch" name="search_str"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span><i class="fas fa-search"></i></span></button>
            </div>
        </div>
      </div>
</form>
</div>
<br>
<div class="well">
    <table class='table'>
        <tr>
            <th>#</th>
            <th>Station Name</th>
            <th>AE title</th>
            <th>Modality</th>
            <th>Options</th>
        </tr>
        {{for station in rows:}}
            <tr>
                <td>{{=station.index}}</td>
                <td>{{=station.name}}</td>
                <td>{{=station.AE_title}}</td>
                <td>{{=station.modality}}</td>
                <td>
                    <span>
                        <a href="{{=URL('editstation',vars=({'id':station.id}))}}"><span class="fas fa-edit"></span></a>
                        <a href="{{=URL('deletestation',vars=({'id':station.id}))}}"><span class="fas fa-trash"></span></a>
                    </span>
                </td>
            </tr>
        {{pass}}
    </table>
</div>


<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {{if page>1:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page-1))}}">Previous</a>
                </li>
            {{pass}}

            {{for i in range(1,total_entries+1):}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(i))}}">{{=i}}</a>
                </li>
            {{pass}}

            {{if len(rows)>10:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page+1))}}">Next</a>
                </li>
            {{pass}}

        </ul>
    </nav>
</div>
</main>
