{{extend 'layout.html'}}
<div>
    <h3>
        List of Stations&nbsp; &nbsp;
        <a href="{{=URL('addstation')}}">
          <span class="fas fa-plus"></span>
        </a>
    </h3>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
<form action="{{=URL('liststation')}}">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search by station name" id="txtSearch" name="search_str"/>
        <div class="input-group-btn">
          <button class="btn btn-primary" type="submit">
            <span class="glyphicon glyphicon-search"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
<br>
<div class="well">
    <table class='table'>
        <tr>
            <th>Station Name</th>
            <th>AE title</th>
            <th>Modality</th>
            <th>Options</th>
        </tr>
        {{for station in rows:}}
            <tr>
                <td>{{=station.name}}</td>
                <td>{{=station.AE_title}}</td>
                <td>{{=station.modality}}</td>
                <td>
                    <span>
                        <a href="{{=URL('editstation',vars=({'id':station.id}))}}"><span class="fas fa-edit"></span></a>
                        <a href="{{=URL('deletestation',vars=({'id':station.id}))}}"><span class="fas fa-trash"></span></a>
                    </span>
                </td>
            </tr>
        {{pass}}
    </table>
</div>

<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {{if page>1:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page-1))}}">Previous</a>
                </li>
            {{pass}}

            {{for i in range(1,total_entries+1):}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(i))}}">{{=i}}</a>
                </li>
            {{pass}}

            {{if len(rows)>=10:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page+1))}}">Next</a>
                </li>
            {{pass}}

        </ul>
    </nav>
</div>