{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<main role="main" class="container">
<form id="form1" enctype="multipart/form-data" method="post" action="{{=URL('addpatient')}}">
	<div class="p-3 mb-2 bg-light text-dark">
		<h4> Add new Patient</h4>
	    <div class="dropdown-divider"></div>
	    <div class="row">
			<div class="col">
		  		<label for="first_name"><h6><i class="fa fa-user"></i> First Name </h6></label>
		  		<input type="text" class="form-control" id="first_name" name="first_name" required placeholder="First Name">
			</div>
			<div  class="col">
				<label for="last_name"><h6><i class="fa fa-user"></i> Last Name </h6></label>
		  		<input type="text" class="form-control" id="last_name" required placeholder="Last Name"  name="last_name">
			</div>
		</div>
		<div class="row">
			<div class="col">
		  		<label for="patient_id"><h6><i class="fa fa-id-badge"></i> Patient Id </h6></label>
		  		<input type="text" class="form-control" id="patient_id" name="patient_id" required placeholder="Patient Id">
			</div>
			<div  class="col">
				<label for="gender"><h6><i class="fa fa-male"></i><i class="fa fa-female"></i> Gender</h6></label>
		  		<br>
		   		<label class="radio-inline"><input type="radio" name="gender" value="Male" checked><h6>Male</h6></label>
		 		<label class="radio-inline"><input type="radio" name="gender" value="Female"><h6>Female</h6></label>
			</div>
		</div>
		<div class="row">
			<div class="col">
		  		<label for="birth_date"><h6><i class="fa fa-calendar-alt"></i> Date of Birth</h6></label>
		  		<input type="date" class="form-control" id="birth_date" required name="birth_date">
			</div>
			<div class="col">
		  		<label for="weight"><h6><i class="fa fa-weight"></i> Weight</h6></label>
		  		<input type="number" class="form-control" id="weight" name="weight" placeholder="Weight">
			</div>
			<div class="col">
				<label for="patient_size"><h6><i class="fa fa-tape"></i> Size</h6></label>
		  		<input type="text" class="form-control" id="patient_size" name="patient_size" placeholder="Size">
			</div>
		</div>
		<div class="row">
			<div class="col">
		  		<label for="medical_alerts"><h6><i class="fa fa-bell"></i>Medical Alerts</h6></label>
		  		<input type="text" class="form-control" id="medical_alerts" name="medical_alerts" placeholder="Medical Alerts">
			</div>
			<div class="col">
		  		<label for="allergies"><h6><i class="fa fa-allergies"></i>Allergies</h6></label>
		  		<input type="text" class="form-control" id="allergies" name="allergies" placeholder="Allergies">
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col">
	  			<input class="btn btn-primary" type="submit" value="Add Patient"/>
	  		</div>
	  	</div>
	 </div>
</form>
</main>
