{{extend 'layout.html'}}
 
<script>
    function handleclick() {
        window.location = "{{=URL('addpatient')}}"
    }
</script>

<div>
    <h3>
        List of patients&nbsp; &nbsp;
        <a href="{{=URL('addpatient')}}">
          <span class="glyphicon glyphicon-plus"></span>
        </a>
    </h3>
</div>
<br>
<div class="well">
    <table class='table'>
        <tr>
            <th>#</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Size</th>
            <th>Created On <a class = "btn", href="{{=URL(args=(page,sort+1))}}">sort</a></th>
            <th>Options</th>
        </tr>
        {{for patient in rows:}}
            <tr>
                <td>{{=patient.id}}</td>
                <td>{{=patient.first_name}} {{=patient.last_name}}</td>
                <td>{{=patient.gender}}</td>
                <td>#</td>
                <td>{{=patient.weight}}</td>
                <td>{{=patient.patient_size}}</td>
                <td>{{=patient.created_on}}</td>
                <td>
                    <span>
                        <a href="{{=URL('editpatient',vars=({'id':patient.id}))}}"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a href="{{=URL('deletepatient',vars=({'id':patient.id}))}}"><span class="glyphicon glyphicon-trash"></span></a>
                    </span>
                </td>
            </tr>
        {{pass}}
    </table>
</div>

<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {{if page>0:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page-1))}}">Previous</a>
                </li>
            {{pass}}

            {{for i in range(1,total_entries+1):}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(i))}}">{{=i}}</a>
                </li>
            {{pass}}

            {{if len(rows)>=2:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page+1))}}">Next</a>
                </li>
            {{pass}}

        </ul>
    </nav>
</div>