{{extend 'layout.html'}}
<script src="{{=URL('static','js/mwlapp.js')}}"></script>
<div>
    <h3>
        List of patients&nbsp; &nbsp;
        <a class="btn btn-success btn-md" href="{{=URL('addpatient')}}">
          <i class="fa fa-plus"></i>
        </a>
    </h3>
</div>
<form action="{{=URL('listpatient')}}">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by name/id" id="txtSearch" name="search_str"/>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit"><span><i class="fas fa-search"></i></span></button>
            </div>
        </div>
      </div>
</form>
<br>
<div class="well">
    <table class='table'>
        <tr>
            <th>#</th>
            <th>Patient Name</th>
            <th>Gender</th>
            <th>Age</th>
            <th>Weight</th>
            <th>Size</th>
            <th>Patient Id</th>
            <th>Birth Date</th>
            <th>Options</th>
        </tr>
        {{for patient in rows:}}
            <tr>
                <td>{{=patient.index}}</td>
                <td>{{=patient.first_name}} {{=patient.last_name}}</td>
                <td>{{=patient.gender}}</td>
                <td>{{=patient.age}}</td>
                <td>{{=patient.weight}}</td>
                <td>{{=patient.patient_size}}</td>
                <td>{{=patient.patient_id}}</td>
                <td>{{=patient.birth_date}}</td>
                <td>
                    <span>
                        <a href="{{=URL('editpatient',vars=({'id':patient.id}))}}"><span class="fas fa-edit"></span></a>
                        <a href="{{=URL('deletepatient',vars=({'id':patient.id}))}}"><span class="fas fa-trash"></span></a>
                    </span>
                </td>
            </tr>
        {{pass}}
    </table>
</div>

<div class="row">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">

            {{if page>1:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page-1))}}">Previous</a>
                </li>
            {{pass}}

            {{for i in range(1,total_entries+1):}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(i))}}">{{=i}}</a>
                </li>
            {{pass}}

            {{if len(rows)>10:}}
                <li class="page-item">
                    <a class="page-link" href="{{=URL(args=(page+1))}}">Next</a>
                </li>
            {{pass}}

        </ul>
    </nav>
</div>